<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Link Minder</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
  <h1 class="text-center">Link Minder</h1>
  <a href="https://slack.com/oauth/authorize?scope=<%= bot_scope %>&client_id=<%= client_id %>&redirect_uri=<%= redirect_uri %>">
    <img class="center-block" alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png"/></a>
    <p>Do you tire of losing links that you've shared with others? Slack's search functionality doesn't inspect the contents of links posted into channels. Link Minder can help.</p>
    <p>Install Link Minder, and then invite it into a channel. Any links shared in that channel will be automatically indexed by the bot.</p>
    <p>To search the links indexed by Link Minder, send your query with an @-mention, or just DM the bot. For example, you could type:</p>
    <code>
      > hey @link-minder cool arduino projects
    </code>
    <p>and Link Minder will search through all the links it's observed for "cool arduino projects"</p>
    <p>And the source? But of course! Please, <a href="https://github.com/DEGoodmanWilson/algolia-link-bot/">find it here</a>.</p>
  </div>
</div>
</body>
</html>
